body{
    background-image: url("download.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#case{
width: 60%;
height: 20%;
top: 18%;
right: 12%;
position: absolute;
color: white;
}

a:link {
    color: yellow;
    background-color: transparent;
    text-decoration: none;

}


h1{
  font-size: 30px;
}


li{
  font-size: 25px;
}

P{
  font-size: 20px;
}
