body{
    background-image: url("download.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#case{
width: 60%;
height: 20%;
top: 18%;
right: 12%;
position: absolute;
}

a:link {
    color: yellow; 
    background-color: transparent;
    text-decoration: none;
